<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net461" allowedVersions="[3.3.20]" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net461" allowedVersions="[3.3.15]" />
  <package id="AWSSDK.SecurityToken" version="3.3.3.3" targetFramework="net461" allowedVersions="[3.3.3.3]" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Recipes.Cryptography.Hashing" version="1.0.85" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.Redo" version="0.5.2" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
</packages>