<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net461" />
  <package id="AWSSDK.EC2" version="3.3.40" targetFramework="net461" />
  <package id="AWSSDK.Route53" version="3.3.11" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.3.3.3" targetFramework="net461" />
  <package id="FakeItEasy" version="4.2.0" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Recipes.InitializeTestProject" version="1.0.85" targetFramework="net461" developmentDependency="true" />
  <package id="OBeautifulCode.AutoFakeItEasy" version="1.0.97" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
  <package id="xunit" version="2.1.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net461" />
  <package id="xunit.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net461" />
</packages>