<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net461" />
  <package id="FakeItEasy" version="4.1.0" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Compression.Domain" version="1.0.5" targetFramework="net461" />
  <package id="Naos.Recipes.Cryptography.Hashing" version="1.0.85" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Recipes.InitializeTestProject" version="1.0.85" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Serialization.Bson" version="1.0.43" targetFramework="net461" />
  <package id="Naos.Serialization.Domain" version="1.0.43" targetFramework="net461" />
  <package id="Naos.Serialization.Factory" version="1.0.43" targetFramework="net461" />
  <package id="Naos.Serialization.Json" version="1.0.43" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.AutoFakeItEasy" version="1.0.96" targetFramework="net461" />
  <package id="OBeautifulCode.TypeRepresentation" version="1.0.8" targetFramework="net461" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
  <package id="xunit" version="2.1.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net461" />
  <package id="xunit.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net461" />
</packages>