<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.32.2" targetFramework="net461" allowedVersions="[3.3.32.2]" />
  <package id="AWSSDK.EC2" version="3.3.85.3" targetFramework="net461" allowedVersions="[3.3.85.3]" />
  <package id="AWSSDK.Route53" version="3.3.18.22" targetFramework="net461" allowedVersions="[3.3.18.22]" />
  <package id="AWSSDK.SecurityToken" version="3.3.4.58" targetFramework="net461" allowedVersions="[3.3.4.58]" />
  <package id="Naos.Bootstrapper.Recipes.Core" version="1.0.29" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Core.Assembly" version="1.0.29" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.General.Assembly" version="1.0.29" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Build.Analyzers" version="1.55.31" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" allowedVersions="" targetFramework="net461" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.44" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.20" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type" version="1.0.51" targetFramework="net462" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.51" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>