<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net461" allowedVersions="[3.3.20]" />
  <package id="AWSSDK.EC2" version="3.3.40" targetFramework="net461" allowedVersions="[3.3.40]" />
  <package id="AWSSDK.Route53" version="3.3.11" targetFramework="net461" allowedVersions="[3.3.11]" />
  <package id="AWSSDK.SecurityToken" version="3.3.3.3" targetFramework="net461" allowedVersions="[3.3.3.3]" />
  <package id="Its.Log" version="2.9.14" allowedVersions="" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" allowedVersions="" targetFramework="net461" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
</packages>